<div class="task priority-<%= task.priority.downcase%>" id="<%= set_task_status_project_url(task_id: task.id, id: @project.id) %>" >
  <em style="margin:0; max-width:150px;white-space:initial;"><%= task.title%></em>
    <% task_user = User.find(task.user_id)%>
    <%if task_user.photo.attached?%>
        <%= cl_image_tag task_user.photo.key, class:"avatar", crop: :fill %>
    <% else %>
      <img class="avatar" style="height:50px; width:50px;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
    <% end %>
</div>
