<div class="task" id="<%= set_task_status_project_url(task_id: task.id, id: @project.id) %>" >
  <em style="margin:0; max-width:150px;white-space:initial;"><%= task.title%></em>
  <div style="display:flex;margin: 0 20px;">
    <% task.priority.times do %>
      <i class="fa-solid fa-circle fa-2xs" style="color:#FF333A;"></i>
    <%end%>
  </div>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
</div>
