// Specific CSS for your home-page

.home-div{
  background-color: white;
}

#myCarousel {
/**
 * Button
 */
 .btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

}


.banner {
  padding-top: 100px;
  padding-bottom: 100px;

  .info-details {
    padding-top: 40px;
    width: 60%;
      }

      .form-control {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .img-banner {
        align-items: center;
        border-radius: 15px;

        .max-img{
          height: 300px;
          width: 250px;
          border-radius: 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .min-img{
          height: 280px;
          width: 220px;
          border-radius: 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
      }
}

.explanation {
  margin-left: 320px;
  margin-right: 320px;


  .img-explanation {
    height: 270px;
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .info {
    width: 350px;
    margin-top: 67px;
    p{
      font-size: 18px;
    }
  }
}

.comments-space {
  padding: 60px;

  .list {
    padding-bottom: 15px;
  }
  .list-comments {
    .comments {
      margin-top: 15px;
      margin-bottom: 30px;
    }
      .card-home{
        height: 155px;
        width: 18rem;
        background-color:white;
        border-radius:10px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .card-title {
          padding-bottom: 7px;
        }
      }
    }
}
