// Specific CSS for your home-page

.home-div{
  background-color: white;
}


.banner {
  padding-top: 180px;
  padding-bottom: 180px;

  h1{
    color: white;
    font-size: 330%;
  }

  p{
    color: white;
    font-size: 140%;
  }

  .btn {
    border-radius: 10px;
    background-color: white;
    color: #283975;
  }

  .btn-scroll-down {
    position: absolute;
    margin-top: 6%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: #283975;
    padding: 10px;
  }

  .info-details {
    padding-top: 40px;
    width: 60%;
      }

      .form-control {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .img-banner {
        align-items: center;
        border-radius: 15px;

        .max-img{
          height: 300px;
          width: 250px;
          border-radius: 10px;
        }
        .min-img{
          height: 280px;
          width: 220px;
          border-radius: 10px;
        }
      }
}

.explanation {
  margin-left: 230px;
  margin-right: 230px;

  .explanation-card-1 {
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .explanation-card-2 {
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .img-explanation {
    height: 380px;
    width: 450px;
    border-radius: 20px;
  }
  .info {
    width: 300px;
    margin-top: 67px;
    p{
      font-size: 140%;
    }
  }
}

.comments-space {
  padding: 60px;

  .list {
    padding-bottom: 15px;
  }
  .list-comments {
    // .comments {
      // margin-top: 15px;
      // margin-bottom: 30px;
    // }
      .card-home{
        height: 165px;
        width: fit-content;
        background-color:white;
        border-radius:10px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .card-title {
          padding-bottom: 7px;
        }
      }

      .card-home{
        font-size: 56%;
        .card-title{
          font-size: 150%;
        }
        .card-text {
          font-size: 130%;
        }
      }
    }
}
