.profile-page {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 25px;
}

.profile-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  height: min-content;

  .my-info{
    height: min-content;
    width: 120px;
    p{
      height: min-content;
      width: 300px;
    }
  }

  .users-info{
    padding-top: 30px;
    padding-left: 10px;
    p:hover {
      color: #FF5A60;
    }
  }

  .user-record{
    padding-top: 30px;

    .btn {
      margin-top: 10px;
      background: #FFDDDE;
      width: 150px;
      align-content: center;
      border-radius: 30px;
      box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
    }

    .btn:hover {
      background: #FF5A60;
      transition: 0.15s;
      color: white;
    }
  }

  .img-profile {
    height: 120px;
    width: 120px;
    .avatar {
    height: 100%;
    width: 100%;
    }
  }
}

.btn-table {
  border-radius: 30px;
  padding-top: 15px;
  padding-left: 15px;
}

.btn-table:hover {
  transition: 0.15s;
  background-color: #FFDDDE;
}

.profile-items {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  padding: 20px;
  height: max-content;
  width: 800px;

  .categories-row{
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    background-color: #f4f4f4;

    p {
      border-radius: 20px;
      background-color: #FFDDDE;
      color: black;
      padding: 3px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .info-row {
      padding-top: 15px;

      .avatar {
        height: 100%;
        height: 100%;
      }
    }

    .table-info {
      padding: 8px;
    }
  }
}
