.profile-page {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 25px;
}

.profile-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  height: min-content;
  margin-right: 74px;
  background-color: white;


  .my-info{
    height: min-content;
    width: 120px;
    p{
      height: min-content;
      width: 300px;
    }
  }

  .users-info{
    padding-top: 30px;
    padding-left: 10px;
    p:hover {
      color: #283975;
    }
  }

  .user-record{
    padding-top: 30px;

    .btn {
      margin-top: 10px;
      background: #3D54A0;
      color: white;
      width: 150px;
      align-content: center;
      border-radius: 10px;
      box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
    }

    .btn:hover {
      background: #283975;
      color: white;
      transition: 0.15s;
      color: white;
    }
  }

  .img-profile {
    height: 120px;
    width: 120px;
    .avatar {
    height: 100%;
    width: 100%;
    }
  }
}

.btn-table {
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.btn-table:hover {
  transition: 0.15s;
  background-color:#D9D9D9;
}

.profile-items {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 20px;
  height: max-content;
  width: 800px;
  background-color: white;

  .categories-row{
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    background-color: white;

    p {
      color: #084298;
      font-weight: bolder;
      padding: 3px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .info-row {
      padding-top: 15px;

      .avatar {
        height: 100%;
        height: 100%;
      }
    }

    .table-info {
      padding: 8px;
    }
  }

  .create-project {
    border-radius: 5px;
    background-color: #3D54A0;
    color: white;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 38%;
  }
  .create-project:hover {
    background-color: #283975;
  }
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
}

.icon-button:hover {
  cursor: pointer;
}


.icon-button__badge {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
