.tasks-show{
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  .board{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }

  .add-task{
    padding:2px 4px;
  }
}

#btn-create-task {
  background-color: #283975;
  border: 1px solid #e9ecef;
  color: white;
  padding: 10px;
  margin-top: 2%;
  border-radius: 5px;
  margin-left: auto;
}
