.ticket-items {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 20px;
  height: max-content;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 1%;
  background-color: white;
  .categories-row{
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    background-color: white;
    .ticket-title {
      color: #084298;
      padding: 3px;
      font-weight: bolder;
      padding-left: 15px;
      padding-right: 15px;
    }
    .info-row {
      padding-top: 15px;
      .avatar {
        height: 100%;
        height: 100%;
      }
    }
    .table-info {
      padding: 8px;
    }
  }
  .btn-ticket{
    background-color: #364B92;
    color: white;
    height: 40px;
    border-radius: 10px;
  }
  .btn-ticket:hover {
    background: #283975;
    transition: 0.15s;
    color: white;
  }
  .btn-table {
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
  }
  .btn-table:hover {
    border-radius: 10px;
    transition: 0.15s;
    background-color: #d9d9d9;
  }
}
