.ticket-all{

  .card-assigned {
    background-color: #cccaca;
    justify-content: left;
    border-radius: 5px;
    height: 140px;
    width: 130px;
  }

  .project-name {
    padding-top: 30px;
    color: black;
  }

  .form-title {
    color: black;
  }

  .form-description {
    color: black;
  }

  .card-subject {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 10px;
    color: black;
    justify-content: left;
    border-radius: 5px;
    height: 500px;
    width: 1215px;
    padding-top: 1%;
    padding-bottom: 5%;
    h2{
      color: rgb(0, 0, 0);
    }
  }

  .assigned-avatar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .creater-avatar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .card-description {
    background-color: white;
    color: black;
    margin-left: 50px;
    box-shadow: rgba(31, 31, 119, 0.2) 0px 7px 29px 0px;
    justify-content: left;
    overflow-y: scroll;
  }

  .card-comment {
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: left;
    border-radius: 5px;
    height: 100px;
    width: 1086px;
  }

  .btn-submit {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 103%;
    background: #3D54A0;
    color: white;
    height: 40px;
    align-content: center;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
  }

  .btn-submit:hover {
    background: #283975;
    transition: 0.15s;
    color: white;
  }


  .ticket-show{
    ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
  background: #ffddde;
  border-radius: 10px;
  color: #283975;
  }

  ::-webkit-scrollbar-thumb {
  background: #283975;
  border-radius: 14px;
  }
  }

  .comment-display {
    margin-top: 3%;

  }

  .form-actions, .comment-section {
    border-radius: 5px;
    padding-bottom: 2%;
    margin-left: 5px;
    width: 114%;
  }

  .form-actions {
    margin-top: 3%;
    border-radius: 1%;
    width: 87%;

    .comment-section {
     background-color: white;
     padding-left: 2%;
     padding-top: 1%;
     font-size: 110%;
     padding-right: 2%;
     box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
    }

    .comment-box {
      background-color: white;
      border: 1px solid #f0f0f0;
    }
  }

  .text-form-ticket {
    color: white;
    font-size: 140%;
  }
}

.avatar-each-task {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
