.card-assigned {
  background-color: #D9D9D9;
  justify-content: left;
  border-radius: 15px;
  height: 140px;
  width: 130px;
}

.card-subject {
  background-color: #D9D9D9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  justify-content: left;
  border-radius: 15px;
  height: 370px;
  width: 1080px;
}

.assigned-avatar {
  height: 70px;
  border-radius: 50px;
}

.card-description {
  background-color: #eeeeee;
  margin-left: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: left;
  height: 230px;
  width: 980px;
}

.card-comment {
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: left;
  border-radius: 15px;
  height: 100px;
  width: 800px;
}

// ::-webkit-scrollbar {
//   width: 18px;
// }

// ::-webkit-scrollbar-track {
// background: #ffddde;
// border-radius: 18px;
// color: #ff5a60;
// }

// ::-webkit-scrollbar-thumb {
// background: #ff5a60;
// border-radius: 18px;
// }

.btn-submit {
  margin-top: 15px;
  margin-left: 870px;
  background: #FFDDDE;
  width: 150px;
  height: 40px;
  align-content: center;
  border: none;
  border-radius: 40px;
  box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
}

.btn-submit:hover {
  background: #FF5A60;
  transition: 0.15s;
  color: white;
}


.ticket-show{
  ::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
background: #ffddde;
border-radius: 14px;
color: #ff5a60;
}

::-webkit-scrollbar-thumb {
background: #ff5a60;
border-radius: 14px;
}
}
