.card-assigned {
  background-color: #cccaca;
  justify-content: left;
  border-radius: 15px;
  height: 140px;
  width: 130px;
}

.form-description{
width: 980px;
}

.card-subject {
  background-color: #FFDDDE;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  justify-content: left;
  border-radius: 15px;
  height: 370px;
  width: 1080px;
}

.assigned-avatar {
  height: 70px;
  border-radius: 50px;
}

.card-description {
  background-color: white;
  margin-left: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: left;
  height: 230px;
  width: 980px;
}

.card-comment {
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: left;
  border-radius: 15px;
  height: 100px;
  width: 90%;
}

// ::-webkit-scrollbar {
//   width: 18px;
// }

// ::-webkit-scrollbar-track {
// background: #ffddde;
// border-radius: 18px;
// color: #ff5a60;
// }

// ::-webkit-scrollbar-thumb {
// background: #ff5a60;
// border-radius: 18px;
// }

.btn-submit {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 86%;
  background: #FFDDDE;
  height: 40px;
  align-content: center;
  border: none;
  border-radius: 40px;
  box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
}

.btn-submit:hover {
  background: #FF5A60;
  transition: 0.15s;
  color: white;
}


.ticket-show{
  ::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
background: #ffddde;
border-radius: 14px;
color: #ff5a60;
}

::-webkit-scrollbar-thumb {
background: #ff5a60;
border-radius: 14px;
}
}

.comment-display {
  margin-top: 3%;

}

.form-actions, .comment-section {
  border-radius: 15px;
  padding-bottom: 2%;
}

.form-actions {
  margin-top: 3%;
  border-radius: 1%;

  .comment-section {
   background-color: white;
   padding-left: 2%;
   padding-top: 1%;
   font-size: 110%;
   padding-right: 2%;
   box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
  }

  .comment-box {
    background-color: white;
    border: 1px solid #f0f0f0;
  }
}
