<div class="login-card my-4">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: new_user_password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions text-center">
      <input class="btn-log-in" type="submit" value="Send instructions e-mail">
      <%= "_______________ or _______________" %>
      <a class="btn-log-in-other" type='button' href="/users/sign_in">I have an account</a>
      <a class="btn-log-in-other" type='button' href="/users/sign_up">Create Account</a>
    </div>
  <% end %>
</div>
