  <div class="welcome">
    <span id="splash-overlay" class="splash"></span>


    <div class="banner">
      <div class="d-flex" style="margin-right:50px;">
        <div class="container">
          <h1>Develop your <strong>future</strong>!</h1>
          <p>Streamline your workflow and manage your team with a click of a button</p>
          <%# <input class="form-control me-2" type="search" placeholder="Email Address" aria-label="Search" style="height: 50px; width: 280px; border-radius:10px;"> %>
          <a class="btn" style="border-radius:10px;" href="users/sign_up">Get Started</a>
        </div>
        <div class="img-banner d-flex" style="margin-right:50px;">
          <img src="/assets/banner_img" style="height: 500px;width: 500px;">
        </div>
      </div>
      <div class="text-center">
        <a class="btn" id="btn-scroll-down" href="#explanation">Learn More <i class="fa-solid fa-arrow-down"></i></a>
      </div>
    </div>
  </div>
