  <div class="welcome">
    <span id="splash-overlay" class="splash"></span>


    <div class="banner" style="background-color:#364B92;">
      <div class="d-flex" style="margin-left:50px;" style="margin-right:50px;">
        <div class="container">
          <h1>Develop your <strong>future</strong>!</h1>
          <p>Streamline your workflow and manage your team with a click of a button</p>
          <%# <input class="form-control me-2" type="search" placeholder="Email Address" aria-label="Search" style="height: 50px; width: 280px; border-radius:10px;"> %>
          <a class="btn" style="border-radius:10px;" href="users/sign_up">Get Started</a>
        </div>
        <div class="img-banner d-flex" style="margin-right:50px;">
          <img src="https://res.cloudinary.com/monday-blogs/fl_lossy,f_auto,q_auto/wp-blog/2021/11/Trello-pricing-trello-screenshot.png" class="min-img mx-3" alt="...">
          <img src="https://res.cloudinary.com/monday-blogs/fl_lossy,f_auto,q_auto/wp-blog/2021/11/Trello-pricing-trello-screenshot.png" class="max-img mx-3" alt="...">
          <img src="https://getnave.com/blog/wp-content/uploads/2018/03/kanban-board-in-trello.jpg" class="min-img mx-3" alt="...">
        </div>
      </div>
      <div class="text-center">
        <a class="btn" id="btn-scroll-down" href="#explanation">Learn More</a>
      </div>
    </div>
  </div>
