<nav class="main-menu" style="height: max-content; position: sticky;top: var(--navigation-bar-offset, 0px) !important;">
    <ul class="upper-btns">
      <li>
          <a href="/">
              <i class="fa-solid fa-house"></i>
              <span class="nav-text">
                 Home Page
              </span>
          </a>

      </li>
      <li>
          <a href="">
              <i class="fa-solid fa-diagram-project"></i>
              <span class="nav-text">
                  My Project
              </span>
          </a>

      </li>
      <li class="has-subnav">
          <a href="#">
              <i class="fa-solid fa-list-check"></i>
              <span class="nav-text">
                  My Tasks
              </span>
          </a>

      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa-solid fa-ticket"></i>
              <span class="nav-text">
                  Ticket's Page
              </span>
          </a>

      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa-solid fa-chart-line"></i>
              <span class="nav-text">
                  Performace Analysis
              </span>
          </a>
      </li>
      <div class="lower-btns">
      <li>
          <a href="#">
               <i class="fa-solid fa-magnifying-glass"></i>
              <span class="nav-text">
                  Search
              </span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa-solid fa-comment"></i>
              <span class="nav-text">
                  Chat
              </span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa-solid fa-user"></i>
              <span class="nav-text">
                  Profile
              </span>
          </a>
      </li>
      <li>
         <a href="#">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>
      </div>
  </ul>
</nav>
