<div>
  <h1 style="margin-left:180px; margin-top:10px">Ticket</h1>
  <div class="d-flex">
    <img class="assigned-avatar" style="margin-top:40px" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
    <div>
      <div class="text-left" style="margin-left:10px; margin-top:15px">
        <div class="card-subject d-flex text-center">
          <p style="padding-top:5px; padding-left:20px;">Subject</p>
        </div>
        <div class="card-description" style="overflow-y:scroll">
          <p style="padding-top:5px; padding-left:20px">Description</p>
        </div>
        <div class="card-comment" style="overflow-y:scroll">
          <p style="padding-top:5px; padding-left:20px">Comment</p>
        </div>
          <div class="form-actions text-right">
            <input class="btn-submit" type="submit" value="Submit">
          </div>
      </div>
    </div>
  </div>
</div>
