<div class="ticket-items">
  <div class="categories-row d-flex justify-content-between" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 0px) !important;">
    <p class="1" style="">Requester</p>
    <p class="3" style="">Subject</p>
    <p class="3" style="">Assigned</p>
    <p class="3" style="">Status</p>
    <p class="3" style="">Comments</p>
  </div>
  <div class="info-row">
    <% 10.times do |item|%>
        <img class="avatar" style="padding-bottom:20px;" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
        <p style="width:120px; margin-top:105px;">John Bay</p>
        <p style="width:120px;">Front-end</p>
        <p style="width:120px;">Gabriel Bruds</p>
        <p style="width:120px;">Done</p>
        <a class="btn text-center" style="margin-top:-50px" type="button" href="">See Comments</a>
    <% end %>
  </div>
</div
