<div style="margin-left:130px">
  <h1 style="margin-top:10px; margin-left:20px">Ticket</h1>
  <div>
    <div class="text-center padding-left:100px" style="margin-left:10px; margin-top:15px">
      <div class="card-subject text-center">
        <div class="d-flex">
          <img class="assigned-avatar" style="margin:20px" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
          <h2 style="padding-top:20px; padding-left:350px;">Ticket Title</h2>
        </div>
        <div class="card-description text-left" style="overflow-y:scroll">
          <p style="padding-top:10px">Description</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card-comment" style="overflow-y:scroll">
        <p style="padding-top:5px; padding-left:20px">Comment</p>
      </div>
      <div class="form-actions text-right">
        <input class="btn-submit" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
