<div class="ticket-items">
  <div class="categories-row d-flex justify-content-between" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 0px) !important;">
    <p></p>
    <p class="ticket-title" style="margin-left:50px">Requester</p>
    <p class="ticket-title" style="margin-right:15px; padding-left: 66px;width: 200px;">Subject</p>
    <p class="ticket-title" style="margin-right:10px">Status</p>
    <p class="ticket-title" style="margin-right:15px">Comments</p>
  </div>
  <div>
  <!-- Ticket info  -->
    <% @tickets.each do |ticket|%>
      <%= render "tickets/shared/ticket_row", ticket: ticket%>
    <% end %>
  <!-- Ticket info  -->
  </div>
  <div style="display:flex;justify-content:center">
    <%= link_to "Create Ticket", new_project_ticket_path(@project.id), class:"btn btn-ticket text-center" %>
  </div>
</div>
