<div class="profile-page d-flex justify-content-between">
  <div class="profile-card text-center" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 20px) !important;">
    <div class="id-info d-flex justify-content-between">
      <div class="img-profile">
          <img class="avatar" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
      </div>
      <div class="users-info">
        <h3> Hi, I'm <%= current_user.first_name %> </h3>
        <p> <%= current_user.email %> </p>
      </div>
    </div>
    <div class="user-record text-center">
      <p class="text-center">Your info:</p>
      <div class="my-info text-center">
        <p> <%= current_user.information %> </p>
      </div>
      <a class="btn text-center" type="button" href="/users/edit">Update Profile</a>
    </div>
  </div>
  <div class="profile-items">
    <div class="categories-row d-flex justify-content-between" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 0px) !important;">
      <p class="1" style="margin-left:173px;">Project</p>
      <p class="2">Role</p>
      <p class="3" style="margin-right:28px;">Status</p>
    </div>
    <div class="info-row">
        <% 10.times do |item|%>
        <div class="btn table-info d-flex justify-content-between text-center my-5" type="button" href="/projects/:id">
          <img class="avatar" style="margin-top:-8px; margin-bottom:8px;" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
          <p style="width:120px;">Project's Name</p>
          <p style="width:120px;">Your Role</p>
          <p style="width:120px;">Status</p>
        </div>
        <% end %>
    </div>
  </div>
</div>
