.modal-body{
  p{
    text-align: left;
    max-width: 100%;
    white-space: initial;
  }
}

.modal-title{
  text-align: left;
max-width: 100%;
white-space: initial;
}


.modal{
  .tag-critical{
    box-shadow: 0px 0px 20px -6px rgba(239,117,100, 0.8);
  }

  .tag-high{
    box-shadow: 0px 0px 20px -6px rgba(255,175,63, 0.8);
  }

  .tag-medium{
    box-shadow: 0px 0px 20px -6px rgba(245,221,41, 0.8);
  }


  #edit-task{
    color:#364B92;
    border: none;
    background-color: white;
  }

  #delete-task{
    color:#364B92;
    border: none;
    background-color: white;
  }
}


#accept-button{
  margin-left:20px;
  border:none;
  width:90px;
  background: #3D54A0;
  color: white;
  align-content: center;
  border-radius: 10px;
  box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
}

#accept-button:hover{
  background-color: #283975;
}


#decline-button{
  margin-left: 20px;
  border:none;
  width:90px;
  background: #959595;
  color: white;
  align-content: center;
  border-radius: 10px;
  box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
}

#decline-button:hover{
  background: #d5d4d4;
}

#add-users-button{
  margin-left:40%;
  border:none;
  width:120px;
  background: #3D54A0;
  color: white;
  align-content: center;
  padding:10px;
  border-radius: 10px;
  box-shadow: rgba(127, 127, 127, 0.2) 1px 5px 10px 1px;
}


#add-users-button:hover{
  background-color: #283975;
}
