.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .avatar {
    width:100%;
  }

  .navbar-nav {
    justify-content: space-between;
    width: 180px;
  }

  .nav-link:hover {
    border-radius: 10px;
    vertical-align: middle;
    color: white;
    background-color: #364B92;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
