.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index:1000;

  .avatar-navbar {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav-link{
    margin-top:auto;
    border-radius: 10px;
  }

  .nav-link:hover {
    border-radius: 10px;
    vertical-align: middle;
    color: white;
    background-color: #364B92;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .nav-sign-up{
    margin-top:auto;
    border-radius: 10px;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-right: 10px;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .nav-sign-up:hover {
    border-radius: 10px;
    vertical-align: middle;
    color: white;
    background-color: #364B92;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
