<div class="comment-display" style="display:flex;margin-left:5%;">
  <img class="assigned-avatar" style="margin:20px" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
  <div class="card-comment" style="overflow-y:scroll">
    <em style="padding-top:5px; padding-left:20px">Comment:</em>
    <p style="padding-top:5px; padding-left:40px"><%= comment.comment%></p>
  </div>
</div>
