<div class="comment-display" style="display:flex;">
  <div class="image-user">
    <% user = User.find(comment.user_id)%>
    <%if user.photo.attached?%>
      <%= cl_image_tag user.photo.key, class: "avatar-each-task", style: "margin-top:4px; margin-right: 13px;", crop: :fill %>
    <% else %>
      <img class="avatar-each-task" style="height:90px; width:90px; border-radius:50%;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
    <% end %>
  </div>
  <div class="card-comment" style="overflow-y:scroll">
    <em style="padding-top:5px; padding-right:20px">Comment 🗣</em>
    <p style="padding-top:5px; padding-right:40px"><%= comment.comment%></p>
  </div>

</div>
